body {
  background-color: rgb(160, 232, 185);
  color: #000;
}

h1 {
  color: rgb(8, 71, 23);
  font-size: 40px;
  float:left;
  margin-left: 50px;
  margin-right: 250px;
}

h3 {
  color: rgb(8, 71, 23);
  font-size: 25px;
}

h4 {
  font-family: fantasy;
  line-height: 1.8;
}

p {
  font-family: sans-serif;
  line-height: 1.8em;
}

ul {
  font: 16px monospace;
  line-height: 1.3em;
  margin-bottom: 60px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.header-container {
  padding: 20px;
}

.img-wrapper {
  width: 100px;
  padding: 5px;
}


.h-traveler {
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.h-traveler:hover {
  color: #fff;
}

.arrow {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 10px 40px 30px;
  cursor: pointer;
}

.links-wrapper {
  margin: 0 400px;
}

.link {
  margin-right: 50px;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.link:hover {
  color: #fff;
}
  

.button-top { 
  float: right;
  background-color: orange;
  font-weight: bold;
  margin-right: 60px;
  margin-bottom: 70px;
  margin-top: 20px;
  width: 10%;
  height: 50px;
}

.button-top:hover {
  color: #fff;
}

#basic-info {
  clear: both;
  margin: 0 60px 60px 0;
}

.main-photo {
  width: 94%;
  border: 1px solid green;
  margin-left:50px;
}

.discover {
  margin-left:50px;
}

.where-to-go {
  float: left;
  width: 45%;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 50px;
}

#description {
  float: right;
  width: 45%;
  margin-top: 25px;
  margin-right: 60px;  
}


.facts {
  clear: both;
  margin-left: 50px;
}

#subscribe{
  font-size:11px;
  background-color: rgb(176, 237, 196);
  margin-right:60px;
}

.go-to-top {
  clear: both;
  margin-left: 50px;
  color: #000;
}

.go-to-top:hover {
  color: #fff;
}

.enter-email {
  background-color: rgb(176, 237, 196);
  font-weight: bold;
  margin-left: 50px;
  width: 25%;
  height: 30px; 
}

.button-subscribe {
  background-color: rgb(176, 237, 196);
  font-weight: bold;
  margin-right: 14px;
  width: 15%;
  height: 40px; 
}

.button-subscribe:hover {
  color: #fff;
  cursor: pointer;
}

.share {
  background-color: rgb(176, 237, 196);
  font-weight: bold;
  margin-right: 8px;
  width:21%;
  height:40px; 
}

.share:hover {
  color: #fff;
  cursor: pointer;
}

.tweet {
  background-color: rgb(176, 237, 196);
  font-weight: bold;
  margin-right: 60px;
  width: 21%;
  height: 40px; 
}

.tweet:hover {
  color: #fff;
  cursor: pointer;
}

#bottom-logo {
  margin-left: 50px;
  margin-right: 10px;   
}

.trade-mark {
  font-size: 10px;
}

.social-media-wrapper {
    margin: 0 100px;
}

.socmedia {
  margin-left: 15px;
  cursor: pointer;
}

.other-links {
   margin: 0 250px;
}

.classic-link {
  text-decoration: underline;
}
  
